/**** efw5.X Copyright 2025 efwGrp ****/
#efw_loading{
	z-index:9999;
	background-image:url(../efw/images/loading.gif);
	background-position:center center;
	background-repeat:no-repeat;
	background-color:#aaaaaa;
	opacity:0.3;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.efw_input_error{
	background-color:pink!important;
}
.efw_input_focus{
	background-color:lightcyan!important;
}
.ui-dialog{
	position:fixed!important;
}
.no-close .ui-dialog-titlebar-close {
	display: none;
}
