HTML,BODY{
	height:100%;
}

*{
	font-size:13px;
	font-family:'メイリオ';
	line-height:13px;
}
*:focus{
	outline:none;
}
/*****************************************************************************/
BODY {
	margin:0px;
	overflow-y:scroll;
	overflow-x:hidden;
}
:-MS-INPUT-PLACEHOLDER {
   color: silver;
}
::-WEBKIT-INPUT-PLACEHOLDER {
   color: silver;
}
:-MOZ-PLACEHOLDER {
   color: silver;
}
::-MOZ-PLACEHOLDER {
   color: silver; opacity: 1;
}
:PLACEHOLDER-SHOWN {
   color: silver;
}
/*****************************************************************************/
.HEADER {
	height:40px;
}
.HEADER TABLE {
	height:100%;
	width:100%;
	border:none;
	background-color:navy;
	border-collapse: collapse;
}
.HEADER TABLE TD{
	border:none;
}
.HEADER TABLE TD:FIRST-CHILD {
	width:150px;
	background-image:url(../img/logo.png);
	background-size: 125px 34px;
	background-position-y:center;
	background-position-x:5px;
	background-repeat:no-repeat;
	cursor:pointer;
}
.HEADER TABLE TD:NTH-CHILD(2) {
	font-size:20px;
	color:white;
	text-align:left;
	padding-right:5px;
}
.HEADER TABLE TD:NTH-CHILD(3) {
	font-size:15px;
	color:white;
	text-align:right;
	padding-right:5px;
}
.HEADER TABLE TD:LAST-CHILD {
	width:100px;
	border-left:1px solid black;
	text-align:center;
	color:white;
}
.HEADER TABLE TD:LAST-CHILD A {
	font-size:15px;
	COLOR:white;
	text-decoration:none;
}
/*****************************************************************************/
.HEADER-MENU {
	height:25px;
	BORDER-BOTTOM:#ccc 1px solid; 
}
.HEADER-MENU TABLE {
	height:100%;
	width:100%;
	text-align:right;
}
.HEADER-MENU A {
	color:blue
}

/*****************************************************************************/
.MSG-BLUE {
	font-size:15px;
	color:blue;
}
.MSG-RED {
	font-size:15px;
	color:red;
}
.BORDER-GRAY {
	border:1px solid silver;
	border-radius: 10px;
}
/*****************************************************************************/
.MAIN {
	width:1250px;
	margin:auto;/**枠を中央にさせる**/
	height:550px;/**これがあればダイアログが中央にできる**/
}
.MAIN TABLE {
	width:1250px;
}
.TOP {
 	position:fixed;
 	top:0px;
 	background-color:white;
 	width:1250px;
 	height:130px;
}
.FOOTER {
	text-align:left;
	position:fixed;
	background:white;
	height:40px;
	width:1250px;
	bottom:0px;
	padding-top:10px;
}
.DIALOG {}
.DIALOG .FOOTER {
	text-align:center;
	position:absolute;
	background:white;
	height:40px;
	width:100%;
	left:0px;
	bottom:0px;
	padding-top:10px;
}
.DIALOG .FOOTER *:first-child {
	margin-left:15px;
}
.DIALOG .FOOTER *:last-child {
	margin-right:15px;
}
.ui-dialog-title {
	font-size:13px;
	line-height:16px;
}
.ui-dialog-titlebar {
	padding-top:3px!important;
	padding-bottom:3px!important;
}
/*****************************************************************************/
.MAIN BUTTON{
	height:24px;
	width:100px;
	border:none;
	background-color:navy;
	color:white;
	cursor:pointer;
	border-radius:10px;
}
.DIALOG BUTTON{
	height:24px;
	width:100px;
	border:none;
	background-color:navy;
	color:white;
	cursor:pointer;
	border-radius:10px;
}

INPUT[TYPE='TEXT']{
	height:21px;
	border:1px solid silver;
	padding:0 5px 0 5px;
	vertical-align:middle;
}
INPUT[TYPE='PASSWORD']{
	height:21px;
	border:1px solid silver;
	padding:0 5px 0 5px;
	vertical-align:middle;
}
INPUT[TYPE='FILE']{
	height:21px;
	border:1px solid silver;
	padding:0 5px 0 5px;
	vertical-align:middle;
}
INPUT[TYPE='CHECKBOX'],INPUT[TYPE='RADIO']{
	VERTICAL-ALIGN:-2px;
	CURSOR:pointer;
}
LABEL{
	CURSOR:pointer;
}

INPUT[type='BUTTON']{
	HEIGHT:21px;
	WIDTH:40px;
	BORDER:1px solid silver;
	BACKGROUND-COLOR:#F0F0F0;
	CURSOR:pointer;
}

SELECT{
	HEIGHT:21px;
	BORDER:1px solid silver;
	CURSOR:pointer;
}
TEXTAREA{
	PADDING:5px;
	BORDER:1px solid silver;
}
INPUT[READONLY]{
 color:black;
 background-color:ivory;
}
INPUT:DISABLED{
 color:black;
 background-color:ivory;
}
TEXTAREA[readonly]{
	COLOR:black;
	BACKGROUND-COLOR:ivory;
}
TEXTAREA:disabled{
	COLOR:black;
	BACKGROUND-COLOR:ivory;
}
SELECT:disabled{
	COLOR:black;
	BACKGROUND-COLOR:ivory;
}
BUTTON:disabled{
	color:white;
	background-color:silver;
}
INPUT[type='BUTTON']:disabled{
	BACKGROUND-COLOR:#F0F0F0;
	COLOR:silver;
}
SELECT{
	height:21px;
	border:1px solid silver;
	vertical-align:middle; 
}
TEXTAREA{
	padding:5px;
	border:1px solid silver;
}
/*****************************************************************************/
TABLE.TABLE-HEAD {
	border:none;
	border-collapse: collapse;
	table-layout: fixed;
}
TABLE.TABLE-HEAD TR {
	height:20px;
}
TABLE.TABLE-HEAD TH {
	BORDER:1px solid navy;
	BORDER-LEFT:1px solid white;
	BORDER-RIGHT:1px solid white;
	FONT-WEIGHT:normal;
	BACKGROUND-COLOR:navy;
	BACKGROUND-REPEAT:no-repeat;
	BACKGROUND-POSITION-X:right;
	BACKGROUND-POSITION-Y:2px;
	COLOR:white;
}
TABLE.TABLE-HEAD TH:first-child {
	BORDER-LEFT:1px solid navy;
}
TABLE.TABLE-HEAD TH:last-child {
	BORDER-RIGHT:1px solid navy;
}
TABLE.TABLE-HEAD TH.SORT {
	background-image:url("../img/sort_none.png");
	background-size:14px 14px;
	cursor:pointer;
}
TABLE.TABLE-HEAD TH.ASC {
	background-image:url("../img/sort_asc.png");
	background-size:14px 14px;
}
TABLE.TABLE-HEAD TH.DESC {
	background-image:url("../img/sort_desc.png");
	background-size:14px 14px;
}
/*****************************************************************************/
TABLE.TABLE-BODY {
	BORDER: none;
	BORDER-COLLAPSE: collapse;
	TABLE-LAYOUT: fixed;
	MARGIN:146px 0 50px 0;
}
TABLE.TABLE-BODY TR {
	height:20px;
}
TABLE.TABLE-BODY TH {
	border:1px solid silver;
	font-weight:bold;
	background-color:lightskyblue;
}
TABLE.TABLE-BODY TD {
	BORDER:1px solid silver;
	BORDER-TOP:none;
	padding:0 5px 0 5px;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}
TABLE.table-BODY P {
	overflow:hidden;
	width:100%; 
	white-space:nowrap;
	text-overflow:ellipsis;
}

.ROW0 {
	background: #eeffff
}
.ROW1 {
	background: #ffffff
}
.SELECTED {
	background: #ffeeff
}

/*****************************************************************************/
#copyright{
	text-align:center;
}


/*****************************************************************************/
.MENU-GROUP {
	FONT-SIZE:18px;
	FONT-WEIGHT:bold;
	COLOR:gray;
}
.MENU-BUTTON1 {
	COLOR:WHITE!important;
	FONT-SIZE:20px;
	BORDER:none!important;
	CURSOR:pointer!important;
	HEIGHT:43px!important;
	WIDTH:400px!important;
	BACKGROUND-COLOR:navy!important;
	FONT-WEIGHT:bold;
	TEXT-ALIGN:center;
	BORDER-RADIUS:10px;
	MARGIN:1px;
}
.MENU-BUTTON2 {
	COLOR:WHITE!important;
	FONT-SIZE:20px;
	BORDER:none!important;
	CURSOR:pointer!important;
	HEIGHT:43px!important;
	WIDTH:400px!important;
	BACKGROUND-COLOR:navy!important;
	FONT-WEIGHT:bold;
	TEXT-ALIGN:center;
	BORDER-RADIUS:10px;
	MARGIN:1px;
}
.MENU-BUTTON3 {
	COLOR:WHITE!important;
	FONT-SIZE:20px;
	BORDER:none!important;
	CURSOR:pointer!important;
	HEIGHT:43px!important;
	WIDTH:400px!important;
	BACKGROUND-COLOR:navy!important;
	FONT-WEIGHT:bold;
	TEXT-ALIGN:center;
	BORDER-RADIUS:10px;
	MARGIN:1px;
}
/*****************************************************************************/
.elfinder-toolbar{
	border: 1px solid #dddddd!important;
	background:none!important;
	background-color:#e9e9e9!important;
}

.elfinder-statusbar{
	border: 1px solid #dddddd!important;
	background:none!important;
	background-color:#e9e9e9!important;
}
.elfinder-dialog BUTTON{
	width:auto;
}
/*****************************************************************************/
.BTN_ICON{
	vertical-align:middle;
	height:20px;
	cursor:pointer;
	margin-left:2px;
	margin-right:2px;
}
.BTN_ICON:hover{
	background-color:lightcyan;
}
/*****************************************************************************/
.BTN_ICON_S{
	vertical-align:middle;
	height:16px;
	cursor:pointer;
	margin-left:2px;
	margin-right:2px;
}
.BTN_ICON_S:hover{
	background-color:lightcyan;
}